body{
    text-align: left;
    background-color: skyblue;
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
        
}

h1{
color:firebrick;
background-color: chocolate;
}

button{
   background-color:aliceblue;
 transform: scale 2s;;

}
button:hover{
    background-color:cornflowerblue;
    
   
}
